<div class="score">Score:{{score}}</div>
<div class="round">Round:{{round}}</div>

<div id="{{title}}" class="arena" [ngStyle]="{'width':this.arenawidth  + 'px',
                                              'height':this.arenaheight + 'px'}">
       <stone #gemstone *ngFor="let stone of stones" [model]="stone" dragDirective dropDirective
       (releaseDrop)="releaseDrop($event, stone)"
       (dropEvent)="addDropItem($event, stone)"
       [dropHighlight]="'drophighlight'"
       (dragenterEvent)="dragenterEvent($event, stone)"
       (dragleaveEvent)="dragleaveEvent($event, stone)"
       (dragoverMouseEvent)="dragoverMouse($event, stone)"
       (startDrag)="startDrag($event, stone)"
       [id]="stone.x + '-' + stone.y"
        [ngStyle]="{'left':(stone.x) * stone.width + 'px',
                   'top':(stone.y)  * stone.height + 'px',
                   'width':stone.width + 'px',
                   'height':stone.height + 'px'}"
         class='feld'>
         </stone>
</div>
 