.canvas {
	position:relative;
}

.arena {
	position:relative;
	border: 3px solid #090909;
    background-color: #aaaaaa;
}
.feld {
	position:absolute;
}
.round {
	font-size:0.8em;
	color: grey;
}
.score {
	font-size:1,2em;
	font-style:bold;
	color: white;
}
.highlight{
  opacity: 0.5;
  border:solid 1px #fff;
  background-color:#eef;
}
.drophighlight{
  opacity: 0.5;
  border:solid 1px #000;
  background-color:#aaf;
}
